.page-header {
    height: 20%;
    width: 100%;
    /* padding-right:50px ; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: #032859;
    padding-left: 100px;
    padding-bottom:20px;
}

.page-header p{
    font-size: 15px;
    color: gray;
}